In [1]:
import pandas as pd

In [2]:
class StockPortfolio:
    def __init__(self):
        self.portfolio = []

    def add_stock(self, symbol, company_name, quantity, buy_price, current_price):
        stock = {
            'symbol': symbol,
            'company_name': company_name,
            'quantity': quantity,
            'buy_price': buy_price,
            'current_price': current_price
        }
        self.portfolio.append(stock)

    def remove_stock(self, symbol):
        for stock in self.portfolio:
            if stock['symbol'] == symbol:
                self.portfolio.remove(stock)
                return True
        return False

    def portfolio_summary(self):
        total_investment = 0
        total_value = 0

        for stock in self.portfolio:
            total_investment += stock['quantity'] * stock['buy_price']
            total_value += stock['quantity'] * stock['current_price']

        summary = {
            'total_investment': total_investment,
            'total_value': total_value,
            'profit_or_loss': total_value - total_investment
        }
        return summary


# the StockPortfolio class
portfolio_manager = StockPortfolio()

# Printing the initial portfolio
print("Initial Portfolio:")
print(portfolio_manager.portfolio)

Initial Portfolio:
[]

In [3]:
# Adding stocks to the portfolio

portfolio_manager.add_stock('AAPL', 'Apple Inc.', 100, 150.50, 155.75)
portfolio_manager.add_stock('GOOGL', 'Alphabet Inc.', 50, 1200.25, 1225.50)
portfolio_manager.add_stock('MSFT', 'Microsoft Corp.', 75, 180.70, 185.25)

# Printing the portfolio after adding stocks
print("\nPortfolio after adding stocks:")
print(portfolio_manager.portfolio)

Portfolio after adding stocks:
[{'symbol': 'AAPL', 'company_name': 'Apple Inc.', 'quantity': 100, 'buy_price': 150.5, 'current_price': 155.75}, {'symbol': 'GOOGL', 'company_name': 'Alphabet Inc.', 'quantity': 50, 'buy_price': 1200.25, 'current_price': 1225.5}, {'symbol': 'MSFT', 'company_name': 'Microsoft Corp.', 'quantity': 75, 'buy_price': 180.7, 'current_price': 185.25}]

In [4]:
initial_portfolio_df = pd.DataFrame(portfolio_manager.portfolio)
initial_portfolio_df

  symbol     company_name  quantity  buy_price  current_price
0   AAPL       Apple Inc.       100     150.50         155.75
1  GOOGL    Alphabet Inc.        50    1200.25        1225.50
2   MSFT  Microsoft Corp.        75     180.70         185.25

In [5]:
# Removing a stock from the portfolio

removed = portfolio_manager.remove_stock('AAPL')
if removed:
    print("\nAAPL stock removed successfully.")
else:
    print("\nAAPL stock not found in the portfolio.")

# Printing the portfolio after removing stocks
print("\nPortfolio after removing stocks:")
print(portfolio_manager.portfolio)

AAPL stock removed successfully.

Portfolio after removing stocks:
[{'symbol': 'GOOGL', 'company_name': 'Alphabet Inc.', 'quantity': 50, 'buy_price': 1200.25, 'current_price': 1225.5}, {'symbol': 'MSFT', 'company_name': 'Microsoft Corp.', 'quantity': 75, 'buy_price': 180.7, 'current_price': 185.25}]

In [6]:
# Creating a dataframe for updated portfolio after adding stocks
updated_addition_df = pd.DataFrame(portfolio_manager.portfolio)
updated_addition_df

  symbol     company_name  quantity  buy_price  current_price
0  GOOGL    Alphabet Inc.        50    1200.25        1225.50
1   MSFT  Microsoft Corp.        75     180.70         185.25

In [7]:
# Adding more stocks to the portfolio

portfolio_manager.add_stock('AMZN', 'Amazon.com Inc.', 60, 1750.80, 1805.60)
portfolio_manager.add_stock('TSLA', 'Tesla, Inc.', 40, 650.30, 675.90)

# Printing the final portfolio
print("\nFinal Portfolio:")
print(portfolio_manager.portfolio)

Final Portfolio:
[{'symbol': 'GOOGL', 'company_name': 'Alphabet Inc.', 'quantity': 50, 'buy_price': 1200.25, 'current_price': 1225.5}, {'symbol': 'MSFT', 'company_name': 'Microsoft Corp.', 'quantity': 75, 'buy_price': 180.7, 'current_price': 185.25}, {'symbol': 'AMZN', 'company_name': 'Amazon.com Inc.', 'quantity': 60, 'buy_price': 1750.8, 'current_price': 1805.6}, {'symbol': 'TSLA', 'company_name': 'Tesla, Inc.', 'quantity': 40, 'buy_price': 650.3, 'current_price': 675.9}]

In [8]:
# Creating a dataframe for updated portfolio after removing and adding stocks
updated_portfolio_df = pd.DataFrame(portfolio_manager.portfolio)
updated_portfolio_df

  symbol     company_name  quantity  buy_price  current_price
0  GOOGL    Alphabet Inc.        50    1200.25        1225.50
1   MSFT  Microsoft Corp.        75     180.70         185.25
2   AMZN  Amazon.com Inc.        60    1750.80        1805.60
3   TSLA      Tesla, Inc.        40     650.30         675.90

In [9]:
# Viewing the portfolio summary

summary = portfolio_manager.portfolio_summary()
print("\nPortfolio Summary:")
print(f"Total Investment: ${summary['total_investment']:.2f}")
print(f"Total Current Value: ${summary['total_value']:.2f}")
print(f"Profit/Loss: ${summary['profit_or_loss']:.2f}")

Portfolio Summary:
Total Investment: $204625.00
Total Current Value: $210540.75
Profit/Loss: $5915.75